<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body fast="template">
<ft>class:new,render:div,content:{here's my content}</ft>
<ft>template:div,content:{this is a template}</ft>
<ft ignore>class:old,render:section,json:|{"name": "faster",
    "version": "1.0.0",
    "description": "",
    "main": "App.js"}|</ft>
<ft>class:{default:this,hover:that},render:nav</ft>
<ftx>{math}10*8/3.18{~math}</ftx>
<ftx>{date:full}dd/mm/yyyy h:m:s{~date}</ftx>
<ftx>{if:hour=17}this{else}that{~if}</ftx>
<ftx>{if:day=10}this{else}<div class="hithere">pkkee</div>{~if}</ftx>
<ftx>{if:month=6}this{else}that{~if}</ftx>
<ftx>{if:[round(9*21)]=9}this{~if}</ftx>
<ftx>{if:[floor(84/10)]=8}this expression is true{~if}</ftx>

<ftx>{form:login}class:old,id:nene,style:null,action:theserver.com/form/{~form}</ftx>
<ftx>{form:login}class:old,id:nene,style:null,action:theserver.com/form/{~form}</ftx>
<ftx>{form:login}class:old,id:nene,style:null,action:theserver.com/form/{~form}</ftx>
<fta>{json://davidemaser.github.io/data/temp-table.json}node=table,show=5,saveAs=something{~json}</fta>
</body>
</html>