<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body faster="template">
<ft>class:new,render:div,content:{here's my content}</ft>
<ft>template:div,content:{this is a template}</ft>
<ft ignore>class:old,render:section,json:|{"name": "faster",
    "version": "1.0.0",
    "description": "",
    "main": "App.js"}|</ft>
<ft>class:{default:this,hover:that},render:nav</ft>
<ftx>{math}10*8/3.18{~math}</ftx>
<ftx>{date:full}dd/mm/yyyy h:m:s{~date}</ftx>
<ftx>{if:hour=17}this{else}that{~if}</ftx>
<ftx>{if:day=10}this{else}<div class="hithere">pkkee</div>{~if}</ftx>
<ftx>{if:month=6}this{else}that{~if}</ftx>
<ftx>{if:[round(9*21)]=9}this{~if}</ftx>
<ftx>{if:[floor(84/10)]=8}this expression is true{~if}</ftx>
<ftx>{form:login}class:old,id:nene,style:null,action:theserver.com/form/{~form}</ftx>
<ftx>{panel:standard}<div>here's the inside of the panel</div>{~panel}</ftx>
<ftx>{gutter:closed}<div>hsidfs</div>{~gutter}</ftx>
<fta>{json://davidemaser.github.io/data/temp-table.json}node=table,show=5,saveAs=myData{~json}</fta>
<ftx>{modal:full}title:this is the title,message:this would be the message part,prompt:full,promptConfirm:I Agree,promptRefuse:No,cta:Click Here{~modal}</ftx>
<ftx>{html}
    section[name=A_NAME_HERE] -- div*3[first,second,third]
    section[class=this,id=that] -- nav -- section[name=mine] -- div[class=this,id=another,bind=click(test)] -- p[data-render=long]{this will render in the paragraph}
    strong -- i{<span>this will be italic</span>}
    {~html}</ftx>
<ftx>{animate:points}object:that,points:[1-500,5-200,8-185,100-800]{~animate}</ftx>
<ftx>{nav:horizontal}{json:nav}{~nav}</ftx>
<ftx>{placeholder:large}</ftx>
<ftx>
    {accordion}
    [title=A_NAME_HERE] This is the content
    [title=ANOTHER_NAME_HERE] This is more content
    {~accordion}
</ftx>
<ftx>{table:basic}{json:table}{~table}</ftx>
<ftx>{group}<div class="hi">thjretert</div>
    <section>hsdfsdf</section>{~group}</ftx>
<ftx>{sticky:top}<header>I'm a sticky item</header>{~sticky}</ftx>
<ftx>{search:default}target:this_link,placeholder:Enter Search Term Here,button:true,label:Search{~search}</ftx>
<ftx>{bind}this,that,another,nene{~bind}</ftx>
<ftx>{random:div}
    <div class="hi">thjretert</div>
    <section>hsdfsdf</section>
    <nav class="bar"></nav>
    <div id="yopurs">dfsdf</div>
    {~random}</ftx>
<ftx>{mobile}
    <div class="hi">thjretert</div>
    <section>hsdfsdf</section>
    <nav class="bar"></nav>
    <div id="yopurs">dfsdf</div>
    {~mobile}</ftx>
<ftx>{banner:full}
    {image://via.placeholder.com/350x150,title:this is a title,subtext:this is the subtext,button:hello,action:link}
    <div>second entry</div>
    <div>third entry</div>
    {~banner}</ftx>
<ftx>{video:default}url:link,controls:true,autoplay:true,poster:url,subtitles:[en url,fr url]{~video}</ftx>
<ftx>{video:default}url:[link mp4,link webm,link ogg],controls:true,autoplay:true,poster:url,subtitles:[en url,fr url]{~video}</ftx>
<ftx>{prefetch}
    //via.placeholder.com/350x150
    //via.placeholder.com/150x150
    {~prefetch}</ftx>
</body>
</html>